body {
  font-family: Arial, sans-serif;
  background: linear-gradient(120deg, #001f3f, #0074D9);
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.6);
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

#ayah {
  font-size: 1.8rem;
  margin: 20px 0;
  font-weight: bold;
}

#translation {
  font-size: 1.2rem;
  margin-bottom: 20px;
  font-style: italic;
}

#details {
  font-size: 1rem;
  margin-bottom: 20px;
}

#rollButton {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #FF4136; /* Red button */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#rollButton:hover {
  background-color: #FF6347; /* Lighter red on hover */
}
